@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>Generated from all players in recent ARAM matches of the top 500 from <a href="https://antinoid.github.io/">https://antinoid.github.io/</a></p>
<p>This resulted in about 17.000 valid players which were checked via <a href="https://whatismymmr.com/">whatismymmr.com</a></p>

